@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: Lato-regular;
    src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: Lato-light;
    src: url("../fonts/lato/Lato-Light.ttf");
}
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: Lato-medium;
    src: url("../fonts/lato/Lato-Medium.ttf");
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: Lato-semibold;
    src: url("../fonts/lato/Lato-Semibold.ttf");
}
@font-face {
    font-weight: 700;
    font-style: bold;
    font-family: Lato-bold;
    src: url("../fonts/lato/Lato-Bold.ttf");
}
@font-face {
    font-weight: 700;
    font-style: bold;
    font-family: Proxima;
    src: url("../fonts/Proxima Nova/ProximaNovaCond-Black.otf");
}
@font-face {
    font-weight: 700;
    font-style: bold;
    font-family: Proxima-nova-regular;
    src: url("../fonts/Proxima Nova/ProximaNovaCond-Reg.otf");
}
@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: Ubuntu-regular;
    src: url("../fonts/ubunt/Ubuntu-R.ttf");
}
@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: Ubuntu-light;
    src: url("../fonts/ubunt/Ubuntu-L.ttf");
}
