/* @import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';


@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print'; */
@import 'fonts/font_fontawesome';
@import 'bootstrap';
@import 'slick';
@import 'slick-theme';
@import 'jquery.bxslider';
@import 'fonts';
@import 'style';
@import 'media';




.bx-wrapper {
  .bx-next,
  .bx-prev {
    color: #fff;
    background: transparent;
    &:before {
      font-family: 'FontAwesome';
      font-size: 40px;

      position: absolute;
      z-index: 9;
      top: -8px;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      text-indent: 0;
    }
    &:hover {
      color: #0174d3;
    }
  }
  .bx-prev {
    &:before {
      //content: '\f053';
      content: '\f104';
    }
  }
  .bx-next {
    &:before {
      //content: '\f054';
      content: '\f105';
    }
  }
}


.rama-wrap {
  text-align: center;
  .bx-wrapper {
    .bx-viewport {
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .pager_wrapp {
    display: inline-block;

    width: 86%;
    margin: 0 auto;  .bx-wrapper {
      //overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
      .bx-next,
      .bx-prev {
        top: calc(50% - 10px);

        color: #000;
        &:hover {
          color: #0174d3;
        }
      }
      .bx-prev {
        left: -20px;
      }
      .bx-next {
        right: -20px;
      }
    }
  }
}

.wpcf7-form {
  .form-textarea textarea.form-control {
    height: 70px;
  }
  .quest-button-row {
    float: none;

    text-align: center;
    vertical-align: top;
    .text-fild,
    .submit-fild {
      display: inline-block;

      margin: 0 auto;

      vertical-align: top;
      //float: left;

      box-size: border-box;
      input {
        line-height: 50px;

        display: inline-block;

        height: 50px;
        margin: auto;
        padding: 0;

        text-align: center;
        vertical-align: middle;
      }
    }
    .text-fild {
      input {
        width: 230px;

        color: #666;
        border: 2px solid #0174d3;
        border-radius: 0;
      }
    }
    .submit-fild {
      margin-left: 26px;
      input {
        width: 210px;

        text-transform: uppercase;

        color: #fff;
        border-radius: 0;
        background-color: #008cff;
      }
    }
  }
}

.looper {
  margin-bottom: 70px;
  &:last-nth-child(1),
  &:last-nth-child(2),
  &:last-nth-child(3),
  &:last-nth-child(4) {
    margin-bottom: 40px;
  }
}

#true_loadmore {
  font-family: Lato-light,sans-serif,sans-serif;
  font-size: 14px;
  line-height: 40px;

  display: block;

  width: calc(100% - 30px);
  height: 40px;
  margin: 0 15px;
  padding: 0;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #008cff;
  &:hover {
    background-color: #007de4;
  }
}

.title-wrap-sinhts {
  p {
    font-family: 'Lato-regular', sans-serif;

    max-width: 1000px;
    margin: 0 auto  30px auto;
    padding: 0 20px;

    text-align: center;

    text-shadow: 0 2px 7px rgba(32, 32, 31, .5);
  }
}



.content {
  h2 {
    line-height: 40px;

    margin-bottom: 80px;
    span {
      display: block;
    }
  }
  h3 {
    font-family: 'Lato-semibold', sans-serif;

    margin: 15px 0;

    text-transform: none;
  }
  h5 {
    font-family: 'Lato-semibold', sans-serif;
    font-size: 17px;

    margin: 15px 0 7px 0;
  }
  ol {
    font-family: 'Lato-regular', sans-serif;
    line-height: 30px;

    margin-left: 20px;
  }
  ul {
    font-family: 'Lato-regular', sans-serif;
    line-height: 30px;

    list-style: none;
  }
}

.no-image-title {
  //margin-bottom: 80px;
  padding-top: 100px;
}
